
@import "tailwindcss";


.ck-editor__editable_inline * {
  color: #FFFFFF ;
}
.ck-editor__editable_inline {
  background: #0A0A0A ;
  border: 1px solid #1A1A1A ;
  border-top: none ;
  border-radius: 0 0 0.75rem 0.75rem ;
  min-height: 300px;
}
.ck-toolbar {
  background: #0A0A0A ;
  border: 1px solid #1A1A1A ;
  border-radius: 0.75rem 0.75rem 0 0 ;
}
:root {
  --ck-color-base-border: #1A1A1A;
  --ck-color-base-background: #0A0A0A;
  --ck-color-text: #FFFFFF;
  --ck-color-focus-ring: 2px solid #22D3EE;
}