@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0A0A0A; 
  color: #F8FAFC; 

  background-image: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(168, 85, 247, 0.15), rgba(255, 255, 255, 0));
}


.ck-editor__editable_inline {
  background: #1A1A1A ;
  color: #F8FAFC ;
  border-radius: 0 0 0.75rem 0.75rem ;
  border: 1px solid #2A2A2A ;
}
.ck-toolbar {
  background: #1A1A1A ;
  border-radius: 0.75rem 0.75rem 0 0 ;
  border: 1px solid #2A2A2A ;
}
:root {
  --ck-color-base-border: #2A2A2A;
  --ck-color-base-background: #1A1A1A;
  --ck-color-text: #F8FAFC;
  --ck-color-focus-ring: 2px solid #EC4899;
}